<!-- About Section -->
    <section id="sobre">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre</h2>
                    <h3 class="section-subheading text-muted">Um pouco da nossa história.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ago-2021</h4>
                                    <h4 class="subheading">Novos horizontes</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Em meados de agosto de 2021 profissionais e empresas da área de tecnologia se reuniram para resolver uma necessidade. A necessidade de integração do meio fisico para o digital por meio de sensores e telemetria (monitoramento)!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>nov-2021</h4>
                                    <h4 class="subheading">Nasce uma nova plataforma</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Com um olhar técnico apurado, ficou claro que a solução para uma necessidade pontual poderia se tornar uma solução para outras necessidades que eventualmente iriam aparecer com a chegada do 5G e o conceito de internet das coisas! Então foi criada uma plataforma para o gerênciamento de dispositivos, protocolos de comunicação e integrações, A <b>Samba</b>!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>jan-2022</h4>
                                    <h4 class="subheading">Novos negócios</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Já no inicio de 2022 foram feitas implantaçoes em SAEE's, grandes empresas do agronegócio e parcerias com outras empresas de tecnologia com foco em outros dominios de negócio, por exemplo, cálculos ambientais. Expandindo o (eco)sistema da plataforma <b>samba</b> e sua atuação no mercado, trabalhando sempre de forma integrativa!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>mai-2022</h4>
                                    <h4 class="subheading">Não paramos de evoluir</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Foi integrada a <b>Samba</b> os protocolos de comunicação Modbus e MQTT, o Modbus nos permitiu criar integrações com PLC's atuais do mercado, aumentando ainda mais a nossa gama de beneficios proporcionados pela plataforma!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Faça 
                                    <br>História 
                                    <br> com a Gente!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>