<!-- Services Section -->
    <section id="oque">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">O que fazemos</h2>
                    <h3 class="section-subheading text-muted">Nosso trabalho se baseia em parcerias de sucesso, para garantir as melhores tecnologias em cada contexto,<p>
                    </p> trabalhando com as tecnologias mais atuais.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>-->
                        <img src="./img/logo/trapezio/SAMBA_trapezio.png" height="70px">
                    </span>
                    <h4 class="service-heading">Coletamos</h4>
                    <p class="text-muted">Temos parceiros especializados em desenvolver sensores para os mais diversos segmentos, como medição de nível e vazão.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>-->
                        <img src="./img/logo/triangulo/SAMBA_triangulo.png" height="70px">
                    </span>
                    <h4 class="service-heading">Transmitimos</h4>
                    <p class="text-muted">Trabalhamos com empresas parceiras que desenvolvem diversos tipos de solução para conectividade, garantindo assim a transmissão dos seus dados para a internet.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
                        <img src="./img/logo/nuvem/SAMBA_nuvem.png" height="70px">
                    </span>
                    <h4 class="service-heading">Distribuimos</h4>
                    <p class="text-muted">Nossa plataforma atua recebendo os dados de diversos dispositivos, sistemas e protocolos diferentes. </p> <p class="text-muted">Distribui os dados para o seu sistema ou sistemas de parceiros.</p>
                </div>
            </div>
        </div>
    </section>